<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldencis.tdp.core.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.goldencis.tdp.core.entity.User">
        <id column="guid" property="guid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="department" property="department" />
        <result column="name" property="name" />
        <result column="visible" property="visible" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="skin" property="skin" />
        <result column="error_login_count" property="errorLoginCount" />
        <result column="error_login_last_time" property="errorLoginLastTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        guid, username, password, department, name, visible, email, phone, address, status, skin, error_login_count, error_login_last_time, create_time
    </sql>

    <select id="findUserByGuid" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM t_user
        WHERE guid = #{value}
    </select>

</mapper>
